*{box-sizing: border-box;}

body
{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


@media screen and (max-width:800px) {
    #navbar a:not(:first-child) {display: none;}
    #navbar a.icon {
      float: right;
      display: block;
    }


    #section2
    {
        width: 100%;
        max-width: 425px;
        width: 100px;
        height: 50px;
        position: relative;
        right: inherit;
    }

    #section3 h1 b
    {
        float: none;
        display: block;
        text-align: center;
        font-size: 40px;
    }

    #section3 p{
        font-size: 1px;
    }

    #section3 .gambar-section3{
        width: 100%;
        max-width: 350px;
    }

    #footer{
        max-width: 100%;
    }
    #footer a
    {
        max-width: 20px;
    }
    #footer img{
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width: 800px){
    #navbar.responsive {position: relative;}
    #navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    #section4 .content-perusahaan img{
        width: 10px;
    }
}

#loading{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom{
    from{ bottom: 100px; opacity: 0;}
    to { bottom: 0px; opacity: 1;}
}

@keyframes animatebottom{
    from {bottom:-100px; opacity: 0; }
    to {bottom: 0; opacity: 1;}
}

#navbar
{
    overflow: hidden;
    background-color: rgba(12, 14, 159);
    transition: 0.4s;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a
{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    border-radius: 8px;
}

#navbar a:hover{
    background-color: rgba(221, 221, 221, 0.356);
    color: black;
}

#navbar .logo{
    width: 150px;
    transition: 0.4s;
    position: relative;
    top: 20px;
}

#navbar .icon{
    display: none;
}

#navbar img{
    width: 200px;
    height: -50px;
    position: inherit;
}

#navbar-right{
    float: right;
}

#section2{
    background-image: url("/image/Group\ 315.png");
    background-repeat: no-repeat;
    background-size: 1393px ;
    width: 1393px;
    height: 700px;

}





#section4 .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

#section4 .column{
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#section4 .column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


#section3 h1{
    text-align: left;
    position: relative;
    top: 170px;
    font-size: 50px;
    
}

#section3 p{
    text-align: left;
    position: relative;
    top: 174px;
    font-size: 18px;
    z-index: 2;
}

#section3 .gambar-section3{
    display: block;
    margin-left: auto;
    margin-right: -18px;
    position: relative;
    top: 50px;
    width: 585px;
}


#section4 .flex-container #galeri-kerja{
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 10px #aaaa ;
    border: 2px solid #aaaa;
}

#section4 .flex-container #galeri-lpk{
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 10px #aaaa ;
    border: 2px solid #aaaa;
}

#section4 .flex-container #galeri-export{
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 10px #aaaa ;
    border: 2px solid #aaaa;
}




#section4 .flex-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 50px;
    }

    .flex-container > div h1 img p button{
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }

    .flex-container h1{
        text-align: center;
        line-height: 10px;
        word-wrap: break-word;
    }

    .flex-container p{
        text-align: center;
        line-height: 20px;
        position: relative;
        top: 10px;
    }

    .flex-container img{
        max-width: 400px;
        line-height: 20px;
        position: relative;
        top: 10px;
    }

    .flex-container .gambar-kerja{
        width: 350px;
    }

    .flex-container .gambar-export{
        width: 600px;
        height: 235px;
        position: relative;
    }

    .flex-container button{
        font-size: 25px;
        border-radius: 3px;
    }

    .flex-container .btn-kerja{
        background-color: white;
        color: black;
        border: 4px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        top: 15px;
        left: 105px;
        transition: 0.4s;
    }

    .flex-container .btn-kerja:hover {
        background-color: black;
        color: white;
        
    }

    .flex-container .btn-lpk{
        background-color: white;
        color: black;
        border: 4px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        top: 15px;
        left: 140px;
        transition: 0.4s;
    }

    .flex-container .btn-lpk:hover{
        background-color: black;
        color: white;
    }

    .flex-container .btn-export{
        background-color: white;
        color: black;
        border: 4px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        top: 15px;
        left: 140px;
        transition: 0.4s;
    }

    .flex-container .btn-export:hover{
        background-color: black;
        color: white;
    }


@media (max-width: 800px) {
    .flex-container{
        flex-direction: column;
        width: 100px;
    }
    #section4 .flex-container img{
        width: 300px;
        position: relative;
        left: 30px;
    }

    #section4 .flex-container h1{
        word-wrap: break-word;
        text-align: center;
        position: relative;
        right: -130px;
        font-size: 20px;
        
    }
    #section4 .flex-container p{
        width: 600px;
        word-wrap: break-all;
        position: relative;
        right: 120px;
        text-align: center;  
    }

    #section4 .flex-container button{
        position: relative;
        left: 130px;
    }
}


#section5 .flex-container-2 #galeri-it{
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 10px #aaaa ;
    border: 2px solid #aaaa;
}

#section5 .flex-container-2 #galeri-real{
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 10px #aaaa ;
    border: 2px solid #aaaa;
}

#section5 .flex-container-2 #galeri-restoran{
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 10px #aaaa ;
    border: 2px solid #aaaa;
}

#section5 .flex-container-2 {
    display: flex;
    justify-content: space-between;
}

.flex-container-2 > div h1 img p button{
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-2 h1{
    text-align: center;
    line-height: 20px;
    word-wrap: break-word;
}

.flex-container-2 .h1-real-estate{
    position: relative;
    left: 5px;
}

.flex-container-2 .h1-restoran{
    position: relative;
    left: 5px;
}

.flex-container-2 p{
    text-align: center;
    line-height: 20px;
}

.flex-container-2 .p-real-estate{
    position: relative;
    left: 12px;
}

.flex-container-2 .p-restoran{
    position: relative;
    top: 4px;
}

.flex-container-2 img{
    max-width: 400px;
}


.flex-container-2 .gambar-it{
    width: 350px;
    height: 215px;
}

.flex-container-2 .gambar-real-estate{
    width: 400px;
    position: relative;
    left: 3px;
}

.flex-container-2 .gambar-restoran{
    width: 519px;
    height: 230px;
    position: relative;
    left: 1px;
}

.flex-container-2 button{
    position: relative;
    left: 100px;
    font-size: 25px;
    border-radius: 4px;
}

.flex-container-2 .btn-real-estate{
    background-color: white;
    color: black;
    border: 4px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 145px;
    top: 4px;
    transition: 0.4s;
}

.flex-container-2 .btn-real-estate:hover{
    background-color: black;
    color: white;
}


.flex-container-2 .btn-restoran{
    background-color: white;
    color: black;
    border: 4px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 140px;
    top: 5px;
    transition: 0.4s;    
}

.flex-container-2 .btn-restoran:hover{
    background-color: black;
    color: white;
}

.flex-container-2 .btn-it{
    background-color: white;
    color: black;
    border: 4px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 100px;
    top: 20px;
    transition: 0.4s;
}

.flex-container-2 .btn-it:hover{
    background-color: black;
    color: white;
}

@media (max-width: 800px) {
    .flex-container-2{
        flex-direction: column;
        width: 100px;
    }
    #section5 .flex-container-2 img{
        width: 300px;
        position: relative;
        left: 25px;
    }

    #section5 .flex-container-2 h1{
        word-wrap: break-word;
        text-align: center;
        position: relative;
        right: -120px;
        font-size: 20px;
        
    }
    #section5 .flex-container-2 p{
        width: 600px;
        position: relative;
        right: 120px;
        text-align: center;  
    }

    #section5 .flex-container-2 button{
        position: relative;
        left: 130px;
        font-size: 20px;
    }
}

.footer{
    background-color: rgba(12, 14, 159, 0.932);
    padding: 40px 20px;
    width: 100%;
}

.footer img{
    position: relative;
    top: 8px;
    max-width: 180px;
}

.footer a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    line-height: 60px;
}

@media screen and (max-width:800px) {
    .footer{
        display: block;
        position: relative;
        padding: 100px 8px ;
    }
    .footer a{
        float: none;
        display: block;
        text-align: left;
        font-size: 15px;
    }
}